.col-md-3 ,.col-md-6{
    margin-bottom: 5px;
}
.controls {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    height: 42px;
    margin-bottom: 20px;
    &-buttons{
        display: flex;
        background-color: rgb(221, 221, 214);
        border: 1px solid black;
        border-radius: 4px;
        padding: 0px 5px 0px 5px;
        margin-right: 20px;
        &-separator{
            font-size: 12px;
            background-color: black;
        }
        i{
            padding: 5px 5px 0px 5px;
        }
    }
    &-dropdown-price {
        height: 100%;
    }
}
.cards{
    display: flex;
}
.card{
    flex: 1;
    &-body{
        display: flex;
        flex-direction: column;
        .card-text{
            flex-grow: 1;
        }
    }
    
}