button{
    margin: 10px 5px 0px 10px;
}
.pause-details{
    max-height: 173px;
    min-height: 173px;
    border: 1px solid grey;
    overflow: auto;
    margin: 8px 0px;
}
h4{
    margin: 0px 10px;
    border-bottom: 1px solid antiquewhite;
}