<div class="container">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class=""><button routerLink="/route1">Route1</button></li>
            <li><button routerLink="/route2">Route2</button></li>
            <li><button routerLink="/route3">Route3</button></li>
            <li><button routerLink="/route4">Route4</button></li>
            <li><button routerLink="/route5">Route5</button></li>
            <li><button routerLink="/route6">Route6</button></li>
          </ul>
    </div>
    <router-outlet></router-outlet>
</div>
