<div class="container">
    <a href="javascript:undefined" class="bypass-link" (click)="movefocus()">skip to main content</a>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class=""><button routerLink="/route1">Box App</button></li>
            <li><button routerLink="/route2">Shopping List</button></li>
            <li><button routerLink="/timer">Timer App</button></li>
            <li><button routerLink="/route4">Timer App with Services</button></li>
            <li><button routerLink="/route5">Student App</button></li>
            <li><button routerLink="/route6">Virtual Scrolling App</button></li>
          </ul>
    </div>
    <main id="main" tabindex="0">
        <router-outlet></router-outlet>
    </main>
</div>
