<div class="container">
    <div class="sibling-component row">
        <div class="col-md-5">
            <app-component1 (counterValue)="pausedAt($event)" (timerComplete) = "timerCompleted()" [startCounter]="timerController" [timeLimit]="timeLimits"></app-component1>
        </div>
        <div class="col-md-5 left-margin">
            <app-component2 [timerDetails] = "timerDetails" [timer]="timerController" (timerControl)="timerControl($event)" (timerReset)="timerReset($event)"></app-component2>
        </div>
        <div class="col-md-5">
            <app-component3 [controlLogs] ="controlLogs"></app-component3>
        </div>
        <div class="col-md-5 left-margin">
            <app-component4 [startCount]="startCount" [pausedCount]="pausedCount"></app-component4>
        </div>
    </div>
</div>
