<div class="container">
    <div class="sibling-component row">
        <div class="col-md-5">
            <app-timer-screen [counter]="counter"></app-timer-screen>
        </div>
        <div class="col-md-5 left-margin">
            <app-timer-controller (timerReset)="resetTimer()" (timerStateControl)="timerStateControl($event)" [isInitialStart] ="counterComplete" [timerPauseDetails]="timerPauseDetails"></app-timer-controller>
        </div>
        <div class="col-md-5">
            <app-timer-logs [controlLogs] ="controlLogs">
                
            </app-timer-logs>
        </div>
        <div class="col-md-5 left-margin">
            <app-timer-count [startCount]="startCount" [pausedCount]="pausedCount"></app-timer-count>
        </div>
    </div>
</div>