<div class="container first">
    <div class="container box-size">

        <div class="container box-size">

            <div class="container box-size">

                <div class="container box-size">

                    <div class="container box-size">

                        <div class="container box-size">

                            <div class="container box-inner">

                                <marquee class=" box-inner-floating" width="100%" behavior="alternate" direction="right" height="100px">
                                    Hello World
                                    </marquee>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
